{% extends "base.html" %}

{% block content %}
    <section id="main-section">
    {% for handicraft in handicrafts %}
        <article>
        Name: <a href="{{ url_for('handicraft.read_handicraft', handicraft_id=handicraft.id) }}">{{ handicraft.name | title }}</a><br>
        Category: {{ handicraft.category.name }}
        <br>
        Description: {{ handicraft.description | nl2br }}
        <br>
        Created by: {{ handicraft.user.name }}
        <hr>
        </article>
    {% endfor %}
    </section>
{% endblock %}