{% extends "base.html" %}

{% block content %}
    <section id="main-section">

        <article>
        <h1>Name: {{ handicraft.name }}</a></h1>
        <h2>Category: {{ handicraft.category.name }}</h2>
        <h3>Description: {{ handicraft.description | nl2br }}</h3>
        <br>
        Created by: {{ handicraft.user.name }}
        </article>

        {% if ('user_id' in session) and (handicraft.user_id == session['user_id'] )%}
        <a role="button" role="button" class="btn navbar-btn btn-primary" href="{{url_for('handicraft.update_handicraft', handicraft_id=handicraft.id)}}">Edit this</a>
        {% endif %}

    </section>
{% endblock %}
